:root {
	--button-primary-color: #47d;
	--button-primary-color--hover: rgb(34, 115, 147);
	--button-primary-color--active: rgb(15, 46, 108);
	--button-primary-text-color: white;

	--option-hover: rgba(30, 50, 90, 0.25);

	--border-radius: 5px;
	--interactive-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px 1px rgba(0, 0, 0, 0.2);

	--focus-ring-outline: 4px solid rgba(50, 120, 255, 0.5)
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	user-select: none;

	font-family: 'Josefin Slab';
	font-size: 20px;
}

@media screen {
	canvas {
		padding: 0;
		border: none;
		margin: 0;
		user-select: none;
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125);
	}
}

@media print {
	.no-print {
		display: none;
	}

	canvas {
		position: relative;
		padding: 0;
	}
}

@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/josefinslab/v26/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W776rR349Kg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.ui-tray-top,
.ui-tray-right {
	position: fixed;
	padding: 1em;

	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(8px);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125);
}

.ui-tray-top {
	top: 0;
	height: 4em;
	left: 0;
	right: 0;
}

.ui-tray-right {
	top: 0;
	bottom: 0;
	right: 0;
	width: 20em;
	overflow-y: auto;
}

label,
button,
input[type="text"],
select {
	border-radius: var(--border-radius);
	padding: 0.25em;
	margin-right: 0.5em;
	box-shadow: var(--interactive-shadow);
	color: black;
	background-color: transparent;
	border: none;
	outline: none;

	font-size: inherit;
	font-family: 'Josefin Slab';
}

input[type='text'],
select {
	border: 1px solid #aaa;
	padding: calc(0.25em - 1px);
	border-radius: 3px;
}

:is(label, button, input, select):focus-visible {
	outline: var(--focus-ring-outline);
}

button {
	background-color: var(--button-primary-color);
	color: var(--button-primary-text-color);
}

button:hover {
	background-color: var(--button-primary-color--hover);
}

button:active {
	background-color: var(--button-primary-color--active);
}

table {
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-collapse: collapse;
}

td,
th {
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	padding: 0.25em;
}

.tool-switch {
	display: inline-flex;
	box-shadow: var(--interactive-shadow);
	border-radius: var(--border-radius);
}

.tool-switch>label {
	position: relative;
	margin: 0;
	box-shadow: none;
}

.tool-switch:has(:focus-visible) {
	outline: var(--focus-ring-outline);
}

.tool-switch>label:hover {
	background-color: var(--option-hover);
}

.tool-switch>label>input {
	appearance: none;
	position: absolute;
	left: -5px;
	bottom: 0;
	width: 9px;
	height: 9px;
	outline: none;
}

.tool-switch>label:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid #aaa;
}

.tool-switch>label:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tool-switch>label:has(:checked) {
	background-color: var(--button-primary-color);
	color: var(--button-primary-text-color);
}
